/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


/* # UTILS */

.container-header {
    margin: 10px 20px;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}

.container-main {
  margin: 0 auto;
    padding: 0 30px;
    width: 1000px;
    max-width: 100%;
    border: 1px solid grey;
    background-color: white;
}

/* # HEADER */

.header {
  line-height: 100px;
  margin-bottom: 50px;
  background-color: white;
}

.logo-image {
  height: 100px;
  vertical-align: middle;
}

.logo-title {
  display: inline;
  vertical-align: middle;
  font-weight: bolder;
  font-size: 40px;
}

/* # MAIN */

.buttons {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.button-task {
  background-color: blue;
  color: white;
  border: 1px solid black;
  border-radius: 15%;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold;

}

.button-section {
  background-color: white;
  color: grey;
  border: 1px solid black;
  border-radius: 15%;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold;
}

.yes {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: green;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: 20px;
}

.nope {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: red;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

body {
  background-color: #D3D3D3;
}

.new-task {
  margin-bottom: 25px;
}

.today {
  margin-bottom: 25px;
}

  .editorial, .q1-goals, .recruiting, .mobile, .website, .sales {
    color: white;
    border: 1px solid black;
    border-radius: 20%;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: bold;
}

.editorial { background-color: blue; }
.q1-goals { background-color: violet; }
.recruiting { background-color: green; }
.mobile { background-color: orange; }
.website { background-color: pink; }
.sales { background-color: lightgreen; }
